/* color variables */
:root {
    --color: yellow;
    --light: #e8e5e4;
}

html {
    scroll-behavior: smooth;
}

/* global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* montserrat font my beloved */
    font-family: 'Montserrat', sans-serif;
    background-color: #161616;
    color: var(--light);
    font-size: 1.2rem;
    line-height: 1.6;
}

section {
    background-color: #202020;
    min-height: 80vh;
}

/* set padding for sections except the home page */
section:not(#home) {
    padding-top: 120px;
    padding-bottom: 60px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #161616;
    color: var(--light);
}

h2 {
    color: var(--light);
    text-align: center;
}

/* sticky navigation */
nav {
    background-color: #161616;
    color: var(--light);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.links li {
    margin: 5px 15px;
}

.links li a {
    color: var(--light);
    padding: 10px;
    transition: all 0.8s ease;
    border-radius: 5px;
}

.links li a:hover, .links li a.active:hover {
    background-color: var(--color);
    color: black;
}

/* active section is the one in the viewport */
.links li a.active {
    background-color: #555;
}

/* hamburger menu for the mobile version */
.burger {
    display: none;
    background: inherit; 
    color: var(--light);
    border: none;     
    padding: 10px;         
    font-size: 30px;
    outline: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
        flex-direction: column;
        background-color: #161616;
        height: 100vh;
        padding: 0;
    }


    .links li {
        margin: 10px 0;
    }

    /* display the menu when the burger button is clicked */
    .links.active {
        display: flex;
    }

    .button-wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-end; 
        padding-right: 10px;
    }

    .burger {
        display: block;
        justify-self: center;
    }

    nav ul li a {
        transition: none;
    }
}

/* home section with the background image */
#home {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light);
    display: flex;
    padding: 0 20px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#home h2 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 9rem;
    color: var(--light);
}

#home p {
    color: var(--light);
    font-size: 2rem;
    padding-bottom: 100px;
    text-align: center;
}

/* animated text - transitioning through opacity, changing with js */
#home #animated {
    opacity: 1;
    transition: opacity 0.5s;
}

#home .socials-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 55px;
}

#home .socials-icons a {
    color: var(--light);
    font-size: 30px;
    margin: 10px 0;
    transition: all 0.5s ease;
}

#home .socials-icons a:hover {
    color: var(--color);
    transform: scale(1.4);
}

#home .socials-icons a:active {
    color: rgb(54, 54, 54);
}

/* arrow icon at the bottom of the home section to get to the next section */
.arrow-icon {
    position: absolute;
    bottom: 55px;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.arrow-icon a {
    color: var(--light);
    transition: all 0.5s ease;
    opacity: 0.5;
}

.arrow-icon a:hover {
    color: var(--color);
    opacity: 1;
}

/* the bounce effect of the arrow icon */
@keyframes bounce {
    0%, 10%, 25%, 40%, 100% {
        transform: translateY(0) translateX(-50%);
        display: none;
    }
    20% {
        transform: translateY(-20px) translateX(-50%);
    }
    30% {
        transform: translateY(-10px) translateX(-50%);
    }
}

@media screen and (max-width: 1095px) {
    #home h2 {
        font-size: 7rem;
        line-height: 1.2;
    }

    #home p {
        font-size: 1.8rem;
        margin-top: -10px;
    }
}

@media screen and (max-width: 768px) {
    #home h2 {
        font-size: 5rem;
        line-height: 1.2;
    }

    #home p {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    #home .socials-icons {
        right: 20px;
    }

    #home .socials-icons a {
        margin: 5px 0;
        font-size: 25px;
    }

    #home .arrow-icon {
        font-size: 30px;
    }
}

#about {
    padding: 0 100px;
    background-color: #202020;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

#about .about-text {
    width: 50%;
    padding: 10%;
}

#about .about-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--light);
    text-shadow: none;
    animation: lightning 6s infinite;
}

/* light effect of the about h2 */
@keyframes lightning {
    0%, 57%, 63%, 65%, 100% {
        color: var(--light);
        text-shadow: none;
    }
    60%, 64% {
        color: #ff0; 
        text-shadow: 0 0 1000px #ff0;
    }
}

/* turning off the cursor for the paragraph */
#about p {
    cursor: none;
}

#about p span {
    color: var(--light);
}

/* light effect when hovering on the text */
#about p span:hover {
    color: var(--color);
    text-shadow: 0 0 5px var(--color);
}

#about img {
    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 5%;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#about:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 0 0 30px black;
}

#about .cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* "button" link to the CV */
#about .about-text a {
    color: var(--light);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #161616;
    transition: all 1s ease;
}

#about .about-text a:hover {
    background-color: var(--light);
    color: #161616;
}

#about .about-text a:active {
    background-color: var(--color);
    color: black;
    box-shadow: 0 0 10px var(--color);
    transition: none;
}

@media screen and (min-width: 1200px) {
    #about img {
        margin: 0 50px 0 200px;
    }
} 

@media screen and (max-width: 1033px) {
    #about img {
        width: 250px;
    }

    #about .about-text {
        padding: 5%;
    }

    #about .about-text h2 {
        font-size: 2.5rem;
    }

    #about .about-text p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        padding: 60px 20px 20px 20px;
    }

    #about img {
        width: 200px;
        margin: 30px 0 10px 0;
    }

    #about .about-text {
        width: 100%;
    }
    
    #about .about-text p {
        font-size: 1rem;
    }
}

#education {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

#education h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* timeline next to the education section */
#education .timeline {
    padding-left: 40px;
    border-left: 2px solid black;
}

#education .timeline-block {
    position: relative;
    margin-bottom: 50px;
}

#education .timeline-dot {
    position: absolute;
    left: -49px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

#education .timeline-date {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--light);
    transition: all 0.3s ease-in-out;
}

/* hover effects */
#education .timeline-block:hover .timeline-dot {
    background-color: var(--color);
    width: 20px;
    height: 20px;
    top: 5px;
}

/* dot slide animation */
#education .timeline-block:first-child:hover .timeline-dot {
    left: 152px;
}

#education .timeline-block:not(:first-child):hover .timeline-dot {
    left: 120px;
}

/* date color slide along with the dot */
#education .timeline-block:hover .timeline-date {
    color: var(--color);
}


@media screen and (max-width: 768px) {
    #education {
        font-size: 1rem;
    }

    #education h2 {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    #education .timeline {
        padding-left: 30px;
        border-left: 1.8px solid #000;
    }

    #education .timeline-dot {
        left: -36.6px;
        top: 6px;
        width: 12px;
        height: 12px;
    }

    #education .timeline-date {
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }   
}

@media screen and (max-width: 640px) {
    #education h2 {
        margin-left: 20px;
    }

    #education .timeline {
        margin: 0 20px;
    }
}

#skills {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
    padding: 0 20px;
}

#skills h2 {
    color: var(--light);
    font-size: 3rem;
    margin-bottom: 40px;
}

#skills p {
    margin-bottom: 40px;
    max-width: 800px;
}

#skills .skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

#skills .skills-icons i {
    font-size: 50px;
    text-shadow: none;
    transition: all 0.5s ease;
    position: relative;
}

#skills .skills-icons i:hover {
    color: var(--color);
    text-shadow: 0 0 3px var(--color);
    transform: scale(1.2);
    z-index: 1;
}

/* tooltips */
#skills .skills-icons i::after {
    content: attr(title);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    background-color: var(--light);
    color: black;
    font: 400 0.7rem 'Montserrat', sans-serif;
    padding: 4px 8px;
    border-radius: 4px; 
    opacity: 0;
    transition: all 0.3s ease;
}

#skills .skills-icons i:hover::after {
    transform: translateX(-50%) scaleY(1);
    opacity: 1;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    #skills {
        font-size: 1rem;
    }

    #skills h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    #skills p {
        margin: 0 10px 30px 10px;
    }

    #skills .skills-icons {
        gap: 20px;
        max-width: 400px;
    }

    #skills .skills-icons i {
        font-size: 40px;
    }

    #skills .skills-icons i:hover {
        text-shadow: 0 0 3px var(--color);
        transform: scale(1.3);
    }
}

#hobbies {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#hobbies h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

#hobbies h2 ~ p { /* select any <p> that comes after <h2> aka the first <p>*/
    margin: 0 auto 40px auto;
    max-width: 800px;
}

#hobbies .divider {
    background-color: black;
    padding: 1px;
    opacity: 0.5;
}

#hobbies .hobby-container {
    display: flex;
    padding: 20px 0;
    max-width: 800px;
}

#hobbies img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    filter: grayscale(1);
    box-shadow: none;
    transition: all 0.5s ease;
}

/* again the img hover effect */
#hobbies .hobby-container:hover img {
    transform: scale(1.05);
    filter: grayscale(0);
    box-shadow: 0 0 20px black;
}

/* the second hobby have reversed position of img and text */
#hobbies > div > div:nth-child(4) {
    flex-direction: row-reverse;
}

#hobbies .hobby-text h3 {  
    margin-left: 30px; 
}

#hobbies .hobby-text p {
    max-width: 500px;
    padding: 20px 30px 20px 30px;
}

#hobbies #counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#hobbies #counter-container .counter {
    font-size: 1.6rem;
}

#hobbies #mileage {
    font-weight: bold;
}

@media screen and (max-width: 860px) {
    #hobbies #counter-container .counter {
        font-size: 1.3rem;
    }       
}

@media screen and (max-width: 768px) {
    #hobbies h2 {
        font-size: 2.5rem;
    }

    #hobbies p {
        font-size: 1rem;
    }

    #hobbies > div > div.hobby-container {
        flex-direction: column-reverse;
    }

    #hobbies img {
        width: 300px;
        height: 200px;
        align-self: center;
    }

    #hobbies .hobby-text h3 {
        margin: 20px 0; 
    }

    #hobbies .hobby-text p {
        padding: 0;
    }
}

@media screen and (max-width: 560px) {
    #hobbies #counter-container {
        flex-direction: column;
    }

    #hobbies #counter-container span {
        display: none;
    }

    #hobbies img {
        width: 250px;
        height: 200px;
        align-self: center;
    }

}