:root {
    --color: yellow;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}

section {
    background-color: #fff;
    min-height: 100vh;
    filter: blur(0.5px);
    box-shadow: inset 0 0 30px #161616;
    transition: all 0.3s ease;
}

section.active {
    filter: blur(0);
    box-shadow: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

h2 {
    color: #333;
    text-align: center;
}

nav {
    background-color: #161616;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.links li {
    margin: 5px 15px;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #161616;
        transition: all 0.5s ease;
        z-index: 1000;

    }

    .links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}

nav ul li a {
    color: white;
    padding: 10px;
    transition: all 0.8s ease;
    border-radius: 5px;
}

nav ul li a:hover, nav ul li a.active:hover {
    background-color: var(--color);
    color: black;
}

nav ul li a.active {
    background-color: #555;
}

#home {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    padding: 0 20px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    filter: blur(0);
}

#home h2 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 9rem;
    color: white;
}

#home p {
    color: white;
    font-size: 2rem;
    padding-bottom: 100px;
    text-align: center;
}

#home #animated {
    opacity: 1;
    transition: opacity 0.5s;
}

#home .socials-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 55px;
}

#home .socials-icons a {
    color: white;
    font-size: 30px;
    margin: 10px 0;
    transition: all 0.5s ease;
}

#home .socials-icons a:hover {
    color: var(--color);
    transform: scale(1.4);
}

#home .socials-icons a:active {
    color: rgb(54, 54, 54);
}

.arrow-icon {
    position: absolute;
    bottom: 55px;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.arrow-icon a {
    color: white;
    transition: all 0.5s ease;
    opacity: 0.5;
}

.arrow-icon a:hover {
    color: var(--color);
    opacity: 1;
}

@keyframes bounce {
    0%, 10%, 25%, 40%, 100% {
        transform: translateY(0) translateX(-50%);
        display: none;
    }
    20% {
        transform: translateY(-20px) translateX(-50%);
    }
    30% {
        transform: translateY(-10px) translateX(-50%);
    }
}

@media screen and (max-width: 1095px) {
    #home h2 {
        font-size: 7rem;
        line-height: 1.2;
    }

    #home p {
        font-size: 1.8rem;
        margin-top: -10px;
    }
}

@media screen and (max-width: 768px) {
    #home h2 {
        font-size: 5rem;
        line-height: 1.2;
    }

    #home p {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    #home .socials-icons {
        right: 20px;
        bottom: 20px;
    }

    #home .socials-icons a {
        margin: 5px 0;
        font-size: 25px;
    }

    #home .arrow-icon {
        font-size: 30px;
    }
}

#about {
    padding: 150px 100px;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

#about .about-text {
    width: 50%;
    padding: 10%;
}

#about .about-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: none;
    animation: lightning 6s infinite;
}

@keyframes lightning {
    0%, 57%, 63%, 65%, 100% {
        color: white;
        text-shadow: none;
    }
    60%, 64% {
        color: #ff0; 
        text-shadow: 0 0 1000px #ff0;
    }
}

#about p {
    cursor: none;
}

#about p span {
    color: white;
}

#about p span:hover {
    color: var(--color);
    text-shadow: 0 0 5px var(--color);
}

#about img {
    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 5%;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#about img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 0 0 30px black;
}

#about .cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#about .about-text a {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #161616;
    transition: all 1s ease;
}

#about .about-text a:hover {
    background-color: white;
    color: #161616;
}

#about .about-text a:active {
    background-color: var(--color);
    color: black;
    box-shadow: 0 0 10px var(--color);
    transition: none;
}

@media screen and (max-width: 1033px) {
    section {
        max-height: none;
    }
    
    #about img {
        width: 250px;
        margin: 0;
    }

    #about .about-text {
        padding: 5%;
    }

    #about .about-text h2 {
        font-size: 2.5rem;
    }

    #about .about-text p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        padding: 60px 20px 20px 20px;
    }

    #about img {
        width: 200px;
        margin: 0;
    }

    #about .about-text {
        width: 100%;
    }
    
    #about .about-text p {
        font-size: 1rem;
    }
}

#education {
    background-color: #b1adab;
    display: flex;
    align-items: center;
    justify-content: center;
}

#education h2 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 40px;
}

#education .timeline {
    padding-left: 40px;
    border-left: 2px solid #000;
}

#education .timeline-block {
    position: relative;
    margin-bottom: 50px;
    transition: all 0.5s ease;
}

#education .timeline-dot {
    position: absolute;
    left: -49px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
}

#education .timeline-date {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

@media screen and (max-width: 768px) {
    #education {
        font-size: 1rem;
    }

    #education h2 {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    #education .timeline {
        padding-left: 30px;
        border-left: 1.8px solid #000;
    }

    #education .timeline-dot {
        left: -36.6px;
        top: 6px;
        width: 12px;
        height: 12px;
    }

    #education .timeline-date {
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }   
}

#skills {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 20px;
}

#skills h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 40px;
}

#skills p {
    margin-bottom: 40px;
    max-width: 800px;
}

#skills .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#skills .skills-icons i {
    font-size: 50px;
    text-shadow: none;
    transition: all 0.5s ease;
    position: relative;
}

#skills .skills-icons i:hover {
    color: var(--color);
    text-shadow: 0 0 5px var(--color);
    transform: scale(1.4);
    z-index: 1;
}

#skills .skills-icons i::after {
    content: attr(title);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    background-color: white;
    color: black;
    font: 400 0.7rem 'Montserrat', sans-serif;
    padding: 4px 8px;
    border-radius: 4px; 
    opacity: 0;
    transition: all 0.5s ease;
}

#skills .skills-icons i:hover::after {
    transform: translateX(-50%) scaleY(1);
    opacity: 1;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    #skills {
        font-size: 1rem;
    }

    #skills h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    #skills p {
        margin: 0 10px 30px 10px;
    }

    #skills .skills-icons {
        gap: 20px;
    }

    #skills .skills-icons i {
        font-size: 40px;
    }

    #skills .skills-icons i:hover {
        text-shadow: 0 0 3px var(--color);
        transform: scale(1.3);
    }
    
    #skills .skills-icons i::after {
        display: none;
    }    
}

#hobbies {
    background-color: #b1adab;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: none;
    padding: 80px 20px;
}

#hobbies h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

#hobbies h2 ~ p { /* select any <p> that comes after <h2> aka the first <p>*/
    margin: 0 auto 40px auto;
    max-width: 800px;
}

#hobbies .divider {
    background-color: #333;
    padding: 1px;
    opacity: 0.5;
}

#hobbies .hobby-container {
    display: flex;
    padding: 20px 0;
    max-width: 800px;
}

#hobbies .hobby-container:hover img {
    transform: scale(1.1);
}

#hobbies > div > div:nth-child(4) {
    flex-direction: row-reverse;
}

#hobbies img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    transition: all 0.5s ease;
}

#hobbies .hobby-text h3 {  
    margin-left: 30px; 
}

#hobbies .hobby-text p {
    max-width: 500px;
    padding: 20px 30px 20px 30px;
}

@media screen and (max-width: 768px) {
    #hobbies h2 {
        font-size: 2.5rem;
    }

    #hobbies p {
        font-size: 1rem;
    }

    #hobbies > div > div.hobby-container {
        flex-direction: column-reverse;
    }

    #hobbies img {
        width: 250px;
        height: 250px;
        align-self: center;
    }

    #hobbies .hobby-text h3 {
        margin: 20px 0; 
    }

    #hobbies .hobby-text p {
        padding: 0;
    }

}